@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pacifico", cursive;
}

body {
    background-color: black;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

button {
    background-color: #d91a1a;
    border: none;
    border-radius: 5px;
    margin-bottom: 100px;
    color: black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    transition: all 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 240px 240px 240px;
    gap: 20px;
    justify-content: center;
}

li {
    border: 2px solid #870707;
    border-radius: 5px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: white;
}

.item-price{
    font-weight: bold;
    color: #d91a1a;
}

    